.box{
	width: 80%;
	height: 310px;
	border-radius: 5px;
	box-shadow: 2px 6px 30px rgba(0,0,0,0.1);
	background-color:#f6f6f6;
	margin: 10px;
	position:relative;
	background-size: cover;
	background-repeat: no-repeat;
    background-position: center;
}
.box p{
	font-family: calibri;
    font-size: 18px;
	text-align: center;
    margin: 0px;
	padding: 0px;
	color: #3d3d3e;
}
.slidedetails{
	text-align: center;
	padding: 20px;
	margin-top: -120px;
	height: 65px;
}
.slidedetails2{
	text-align: center;
	padding: 10px;
}
.btn{
	height: 40px;
	width: 120px;
	-webkit-appearance: none;
	box-shadow: -10px -10px 15px rgba(255,255,255,0.5), 10px 10px 15px rgba(70,70,70,0.12);
	border-radius: 10px;
	background-color: #00838f;
	border: 8px solid #00838f;
	outline: none;
}